[Unit]
Description=Couchbase Exporter

[Service]
User=root
ExecStart=/opt/framework/couchbase_exporter/couchbase-exporter --couchbase.username admin --couchbase.password 123456 --web.listen-address=:9420 --couchbase.url="http://localhost:8091"

[Install]
WantedBy=default.target

