[Unit]
Description=Node Exporter

[Service]
User=root
ExecStart=/opt/framework/node_exporter/node_exporter --web.listen-address=:9200

[Install]
WantedBy=default.target